<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rollnumer</th>
                        <th>Semester</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].name%>
                            </td>
                            <td>
                                <%= data[i].roll%>
                            </td>
                            <td>
                                <%= data[i].sem %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>